<!Doctype <!DOCTYPE html>
<html>

<head>
    <title>Mi tiempo en Logroño</title>
    <meta charset="utf-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="lang">
                <el-switch style="display: block" v-model="lang" inactive-color="#007291" active-color="#f9c13e" inactive-text="English"
                    active-text="Español" inactive-value="english" active-value="spanish">
                </el-switch>
            </div>
            <div id="homeBtn">
                <a href="">
                    <h1 v-if="lang == 'english'">My Time in Logroño</h1>
                    <h1 v-else>Mi Tiempo en Logroño</h1>
                </a>
            </div>
            <p v-if="lang == 'english'">Some of my favorite experiences from studying abroad in Logroño, Spain, and some of what I learned while there.</p>
            <p v-else>Algunas de mis experiencias favoritas de estudiar en el extranjero en Logroño, España, y un poco de lo que aprendí allí.</p>
        </header>
        <el-menu :default-active="activeIndex" class="navMenu" mode="horizontal" @select="goToPage" background-color="#f2624f" text-color="#f9f2db"
            active-text-color="#f9c13e">
            <template v-if="lang == 'english'">
                <el-menu-item index="index">Home</el-menu-item>
                <el-menu-item index="people">People</el-menu-item>
                <el-menu-item index="places">Places</el-menu-item>
                <el-menu-item index="food">Food</el-menu-item>
                <el-menu-item index="adventure">Adventure</el-menu-item>
                <el-menu-item index="video">Video</el-menu-item>
                <el-menu-item index="more">More</el-menu-item>
            </template>
            <template v-else>
                <el-menu-item index="index">Inicio</el-menu-item>
                <el-menu-item index="people">Personas</el-menu-item>
                <el-menu-item index="places">Lugares</el-menu-item>
                <el-menu-item index="food">Comida</el-menu-item>
                <el-menu-item index="adventure">Aventura</el-menu-item>
                <el-menu-item index="video">Vídeo</el-menu-item>
                <el-menu-item index="more">Más</el-menu-item>
            </template>
        </el-menu>
        <main>
            <h1 v-if="lang == 'english'" v-on:click="goToPage('adventure')">Adventure</h1>
            <h1 v-else v-on:click="goToPage('adventure')">La Aventura</h1>
            <el-carousel type="card" height="300px" indicator-position="outside">
                <el-carousel-item>
                    <img src="images/adventure/cascadasorbeneja.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/adventure/oliteNickSolo.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/adventure/oliteNickySergio.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/adventure/oliteOnTopOfCastle.JPG">
                </el-carousel-item>
            </el-carousel>
            <div v-if="lang == 'english'">
                <p>
                    I feel like every day I was in Spain, there was an adventure of some form. My trip to Logroño was definiately an adventure.
                    I stayed in a hostel in madrid for two nights before going to Logroño, and there I met a guy from Texas and a girl from Sweden.
                    Together we explored the city. We saw the Prado Museum, Plaza Mayor, Plaza del sol, and the Parque de Retiro. It definately was a 
                    unique experience to spend time in a new city, in a different conuntry, and with strangers, but I enjoyed it.
                </p>
                <p>
                    I experienced many adventures with my host family as well. My first day in Logroño, I went with Sergio and his friends to an event
                    where some people were drifting cars around a roundabout. Later I ate dinner with Sergio and his friends. The next day I went with
                    my host parents and their friends to some waterfalls and caves in the north and they were very beautiful. One weekend, we went to 
                    a castle in Olite, the Palace of the Kings of Navarra, and it was a very interesting place. Another weekend, we went to a beach called
                    Langre, and spent two days there, and it was very beautiful and warm. All of these, do not include the daily adventures that I experienced 
                    living and spending time with my family in Logroño.
                </p>
                <p>
                    Finally, with my classmates from Utah State, we went on many adventures as well. We hiked Monte Cantabre, we traveled to Barcelona, 
                    we played frisbee and soccer in the park, we went shopping, and we went sang karaoke. I got to know my classmates very well during 
                    the program and we had a good time.
                </p>
            </div>
            <div v-else>
                <p>
                    Siento como cada día estaba en españa había una aventura de algún tipo. El viaje a Logroño definitivamente era una aventura. 
                    Me quedaba en un hostel en Madrid para dos noches antes de ir a Logroño, y allí conocí a un chico de Texas y una chica de Suecia,
                    Juntos exploramos la ciudad. Vimos el Mueso del Prado, La Plaza Mayor, La Plaza del Sol, y El Parque de Retiro. Definitivamente fue una
                    experiencia única pasar tiempo en una nueva ciudad, en un país diferente, y con desconocidos, pero me gustó mucho.
                </p>
                <p>
                    Experimenté muchas aventuras con mi familia anfitriona también. Mi primer día en Logroño, fui con Sergio y sus amigos 
                    a un evento donde algunas personas estaban derivando los coches alredador de una rotonda. Luego, comí la cena con Sergio y sus amigos. 
                    El próxima dia fui con las padres anfitrionas y sus amigos a algunas cascadas y cuevas el el norte y son muy bellas. Una fin de la semana, 
                    fuimos a un castillo en Olite, el Palacio de los Reyes de Navarra, y era un sitio muy interesante. Una otra fin de la semana, 
                    fuimos a una playa que se llama Langre, y pasemos dos días en la playa, que era bella y estaba caliente. Y todos estos no incluyen las 
                    aventuras cotidianas que experimenté viviendo y pasando tiempo con mi familia en Logroño.
                </p>
                <p>
                    Finalmente, con mis compañeros de mis clases y de Utah State, fuimos en muchas aventuras también. Subimos al Monte Cantabria, viajamos a 
                    Barcelona, juegemos al frisbee y fútbol en el parque, fuimos a compras, y cantamos Karaoke. Conocía a mis compañeros de clase muy bien 
                    durante el programa y lo pasamos muy bien.
                </p>
            </div>
        </main>
        <footer>
            <p v-if="lang == 'english'">This website was designed and written by Nicholas Rodgers using
                <a href="https://vuejs.org/">Vue</a> and
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Photos (Not including stock photos) and videos &copy; Nicholas Rodgers 2018
            </p>
            <p v-else>Está página web fue diseñado y escrito por Nicholas Rodgers utilizando
                <a href="https://vuejs.org/">Vue</a> y
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Las fotos (a menos de las fotos de archivos) y los vídeos &copy; Nicholas Rodgers 2018
            </p>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            activeIndex: 'adventure',
            lang: "english"
        },
        methods: {
            goToPage: function (index) {
                if (index) {
                    window.location.href = index + '.html' + '?lang=' + this.lang;
                }
            }
        },
        mounted: function () {
            this.$nextTick (function() {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('lang')) {
                    this.lang=urlParams.get('lang');
                }
            })
        }
    })
</script>

</html>