<!Doctype <!DOCTYPE html>
<html>

<head>
    <title>Mi tiempo en España</title>
    <meta charset="utf-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="lang">
                <el-switch style="display: block" v-model="lang" inactive-color="#007291" active-color="#f9c13e" inactive-text="English"
                    active-text="Español" inactive-value="english" active-value="spanish">
                </el-switch>
            </div>
            <div id="homeBtn">
                <a href="">
                    <h1 v-if="lang == 'english'">My Time in España</h1>
                    <h1 v-else>Mi Tiempo en España</h1>
                </a>
            </div>
            <p v-if="lang == 'english'">Some of my favorite experiences from studying abroad in Logroño, Spain, and some of what I learned while there.</p>
            <p v-else>Algunas de mis experiencias favoritas de estudiar en el extranjero en Logroño, España, y un poco de lo que aprendí allí.</p>
        </header>
        <el-menu :default-active="activeIndex" class="navMenu" mode="horizontal" @select="goToPage" background-color="#f2624f" text-color="#f9f2db"
            active-text-color="#f9c13e">
            <template v-if="lang == 'english'">
                <el-menu-item index="index">Home</el-menu-item>
                <el-menu-item index="people">People</el-menu-item>
                <el-menu-item index="places">Places</el-menu-item>
                <el-menu-item index="food">Food</el-menu-item>
                <el-menu-item index="adventure">Adventure</el-menu-item>
                <el-menu-item index="video">Video</el-menu-item>
            </template>
            <template v-else>
                <el-menu-item index="index">Inicio</el-menu-item>
                <el-menu-item index="people">Las Personas</el-menu-item>
                <el-menu-item index="places">Los Lugares</el-menu-item>
                <el-menu-item index="food">La Comida</el-menu-item>
                <el-menu-item index="adventure">La Aventura</el-menu-item>
                <el-menu-item index="video">Mi Vídeo</el-menu-item>
            </template>
        </el-menu>
        <main>
            <h1 v-if="lang == 'english'" v-on:click="goToPage('food')">Food</h1>
            <h1 v-else v-on:click="goToPage('food')">La Comida</h1>
            <el-carousel type="card" height="300px" indicator-position="outside">
                <el-carousel-item>
                    <img src="images/food/barcelonaCafe.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/calamaris.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/champinones.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/champinonesTapa.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/championesSign.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/matrimonios.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/paella.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/patatasBravas.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/perasEnVino.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/tapaNight.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/tapasStreetArt.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/torrijas.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/tortillas.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/food/zapatillas.jpg">
                </el-carousel-item>
            </el-carousel>
            <div v-if="lang == 'english'">
                <p>
                    One of the things that I enjoyed a lot while I was in Spain was the food. My host family cooked me many typical dishes of
                    La Rioja and Spain, like tortillas españolas (spanish omelettes), Patatas de la Rioja, and much more. Also, with my family, we went to the bars in Calle
                    Laurel and Calle San Juan for the pinchos and tapas. These are small small dishes that you stop at a bar to eat with friends
                    and then go to another bar to get something else. Tipical tapas include Patatas Bravas (fierce potatos, fried with aioli and salsa brava), 
                    los champiñones (a stack of mushrooms on a slice of a baguette), la bruschetta (a slice of bread with toppings. I liked the rasperry marmalade, 
                    iberican ham, and goat cheese), las zapatillas (a heel of bread with ham on top), and more.
                </p>
                <p>
                    Additionally, one of my courses at the University was a Gastronomy class, where we learned how to cook and prepare many tipical Spanish foods,
                    like Paella, Peras en vino, some tapas including croquettas, and more. This course was my favorite. I am planning on learning how to cook 
                    more Spanish back in the states. I made a spanish omelette for my dad and younger brother and they liked it. 
                </p>
            </div>
            <div v-else>
                <p>
                    Una de las cosas que me disfrutaba mucho mientras estuve en España fue la comida. Mi familia anfitriona me cocinaba muchos
                    platos tipicos de La Rioja y España, como la tortilla, patatas de la Rioja, y mucho más. También, con mi familia fuimos a
                    los bares en Calle Laurel y Calle San Juan para los pinchos y tapas. Esos son platos pequeños que te paras en un bar para comer
                    con sus amigos, y después va a un otro bar para comer otro. Típicas tapas incluyen las Patatas Bravas, los champiñones, la bruschetta 
                    (mi favorita era la con queso de cabra, maremelada de frambuesa, y jamón iberico), 
                    las zapatillas (el trozo final de pan y jamón), y más.
                </p>
                <p>
                    También, uno de mis cursos de la Universidad fue un clase de Gastronomía, donde aprendimos como cocinar y preparar muchos comidos
                    típicos de España, como la Paella, Peras en Vino, algunas tapas incluyendo las croquettas, y más. Este curso fue mi favorito. Estoy 
                    planeando en aprender como cocinar más platos de españa en los Estados Unidos. Cociné una tortilla española para mi padre y hermano menor 
                    y a ellos les gusta. 
                </p>
            </div>
        </main>
            
            <footer>
                <p v-if="lang == 'english'">This website was designed and written by Nicholas Rodgers using
                    <a href="https://vuejs.org/">Vue</a> and
                    <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                    <br>Photos (Not including stock photos) and videos &copy; Nicholas Rodgers 2018
                </p>
                <p v-else>Está página web fue diseñado y escrito por Nicholas Rodgers utilizando
                    <a href="https://vuejs.org/">Vue</a> y
                    <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                    <br>Las fotos (a menos de las fotos de archivos) y los vídeos &copy; Nicholas Rodgers 2018
                </p>
            </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            activeIndex: 'food',
            lang: "english"
        },
        methods: {
            goToPage: function (index) {
                if (index) {
                    window.location.href = index + '.html' + '?lang=' + this.lang;
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('lang')) {
                    this.lang = urlParams.get('lang');
                }
            })
        }
    })
</script>

</html>