<!Doctype <!DOCTYPE html>
<html>
<head>
    <title>Mi tiempo en España</title>
    <meta charset="utf-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="lang">
                <el-switch 
                    style="display: block"
                    v-model="lang"
                    inactive-color="#007291"
                    active-color="#f9c13e"
                    inactive-text="English"
                    active-text="Español"
                    inactive-value="english"
                    active-value="spanish"
                >
                </el-switch>
            </div>
            <div id="homeBtn">
                <a href="">
                    <h1 v-if="lang == 'english'">My Time in España</h1>
                    <h1 v-else>Mi Tiempo en España</h1>
                </a>
            </div>
            <p v-if="lang == 'english'">Some of my favorite experiences from studying abroad in Logroño Spain, and some of what I learned while there.</p>
            <p v-else>Algunas de mis experiencias favoritas de estudiar en el extranjero en Logroño, España, y un poco de lo que aprendí allí.</p>
        </header>
        <el-menu 
            :default-active="activeIndex" 
            class="navMenu" 
            mode="horizontal" 
            @select="goToPage"
            background-color="#f2624f"
            text-color="#f9f2db"
            active-text-color="#f9c13e"
        >
            <template v-if="lang == 'english'">
                <el-menu-item index="index">Home</el-menu-item>
                <el-menu-item index="people">People</el-menu-item>
                <el-menu-item index="places">Places</el-menu-item>
                <el-menu-item index="food">Food</el-menu-item>
                <el-menu-item index="adventure">Adventure</el-menu-item>
                <el-menu-item index="video">Video</el-menu-item>
            </template>
            <template v-else>
                <el-menu-item index="index">Inicio</el-menu-item>
                <el-menu-item index="people">Las Personas</el-menu-item>
                <el-menu-item index="places">Los Lugares</el-menu-item>
                <el-menu-item index="food">La Comida</el-menu-item>
                <el-menu-item index="adventure">La Aventura</el-menu-item>
                <el-menu-item index="video">Mi Vídeo</el-menu-item>       
            </template>
        </el-menu>
        <el-row>
            <el-col :span="12">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('people')">People</h1>
                <h1 v-else v-on:click="goToPage('people')">Las Personas</h1>
                <el-carousel indicator-position="outside">
                    <el-carousel-item>
                        <img src="images/people/cascadasorbeneja.JPG">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/people/christieSea.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/people/claseDeGastronomia.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/people/tapasJuntos.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/people/usuClass.jpg">
                    </el-carousel-item>
                </el-carousel>
            </el-col>
            <el-col :span="12">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('places')">Places</h1>
                <h1 v-else v-on:click="goToPage('places')">Los Lugares</h1>
                <el-carousel indicator-position="outside">
                    <el-carousel-item>
                        <img src="images/places/cascadas.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/cascadasonly.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/cascoAntiguo.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/laRodonda.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/monumentoAAlfonsoXII.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/ojoDeGuarena.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/oliteCastle.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/oliteNavarra.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/paisaje.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/palacioDeCristal.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/palacioReal.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/places/plazaMayor.jpg">
                    </el-carousel-item>
                </el-carousel>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('food')"> Food </h1>
                <h1 v-else v-on:click="goToPage('food')"> La Comida </h1>
                <el-carousel indicator-position="outside">
                    <el-carousel-item>
                        <img src="images/food/champinones.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/food/perasEnVino.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/food/tapasStreetArt.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/food/tortillas.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/food/torrijas.jpg">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/food/patatasBravas.jpg">
                    </el-carousel>
                </el-carousel-item>
            </el-col>
            <el-col :span="12">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('adventure')">Adventure</h1>
                <h1 v-else v-on:click="goToPage('adventure')">La Aventura</h1>
                <el-carousel indicator-position="outside">
                    <el-carousel-item>
                        <img src="images/adventure/cascadasorbeneja.JPG">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/adventure/oliteNickSolo.JPG">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/adventure/oliteNickySergio.JPG">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="images/adventure/oliteOnTopOfCastle.JPG">
                    </el-carousel-item>
                </el-carousel>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('video')">Video</h1>
                <h1 v-else v-on:click="goToPage('video')">Mi Vídeo</h1>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3Ms0mXI4OOE" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </el-col>
            <!-- <el-col :span="24">
                <h1 v-if="lang == 'english'" v-on:click="goToPage('video')">Video</h1>
                <h1 v-else v-on:click="goToPage('video')">Vídeo</h1>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZIkvEkQ-cHA" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </el-col> -->
        </el-row>
        <footer>
            <p v-if="lang == 'english'">This website was designed and written by Nicholas Rodgers using <a href="https://vuejs.org/">Vue</a> and <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Photos and videos &copy; Nicholas Rodgers 2018 
                <br>Contact nick.rodgers42@gmail.com
            </p>
            <p v-else>Está página web fue diseñado y escrito por Nicholas Rodgers utilizando <a href="https://vuejs.org/">Vue</a> y <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Las fotos y los vídeos &copy; Nicholas Rodgers 2018
                <br>Contacte nick.rodgers42@gmail.com
            </p>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            activeIndex: 'index',
            lang: "english"
        },
        methods: {
            goToPage: function(index) {
                if (index) {
                    window.location.href = index + '.html' + '?lang=' + this.lang;
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('lang')) {
                    this.lang = urlParams.get('lang');
                }
            })
        }
    })
</script>

</html>