<!Doctype <!DOCTYPE html>
<html>

<head>
    <title>Mi tiempo en España</title>
    <meta charset="utf-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="lang">
                <el-switch style="display: block" v-model="lang" inactive-color="#007291" active-color="#f9c13e" inactive-text="English"
                    active-text="Español" inactive-value="english" active-value="spanish">
                </el-switch>
            </div>
            <div id="homeBtn">
                <a href="">
                    <h1 v-if="lang == 'english'">My Time in España</h1>
                    <h1 v-else>Mi Tiempo en España</h1>
                </a>
            </div>
            <p v-if="lang == 'english'">Some of my favorite experiences from studying abroad in Spain, and some of what I learned while there.</p>
            <p v-else>Algunas de mis experiencias favoritas de estudiar en el extranjero en España, y un poco de lo que aprendí allí.</p>
        </header>
        <el-menu :default-active="activeIndex" class="navMenu" mode="horizontal" @select="goToPage" background-color="#f2624f" text-color="#f9f2db"
            active-text-color="#f9c13e">
            <template v-if="lang == 'english'">
                <el-menu-item index="index">Home</el-menu-item>
                <el-menu-item index="people">People</el-menu-item>
                <el-menu-item index="places">Places</el-menu-item>
                <el-menu-item index="food">Food</el-menu-item>
                <el-menu-item index="adventure">Adventure</el-menu-item>
                <el-menu-item index="video">Video</el-menu-item>
            </template>
            <template v-else>
                <el-menu-item index="index">Inicio</el-menu-item>
                <el-menu-item index="people">Las Personas</el-menu-item>
                <el-menu-item index="places">Los Lugares</el-menu-item>
                <el-menu-item index="food">La Comida</el-menu-item>
                <el-menu-item index="adventure">La Aventura</el-menu-item>
                <el-menu-item index="video">Mi Vídeo</el-menu-item>
            </template>
        </el-menu>
        
        <main>
            <h1 v-if="lang == 'english'" v-on:click="goToPage('people')">People</h1>
            <h1 v-else v-on:click="goToPage('people')">Las Personas</h1>
            <el-carousel
                type="card"
                height="300px"
                indicator-position="outside"
            >
                <el-carousel-item>
                    <img src="images/people/cascadasorbeneja.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/christieSea.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/claseDeGastronomia.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/claseDeLinguaje.jpeg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/comidaDespedida.jpeg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/karaoke.jpeg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/monteCantabriaHike.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/ojodeGuarenaHats.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/SamLelaAndOthers.jpeg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/sergioYraul.JPG">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/skylerSmokin.jpeg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/tapasJuntos.jpg">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="images/people/usuClass.jpg">
                </el-carousel-item>
            </el-carousel>
            <div v-if="lang == 'english'">
                <p>
                    While I was in Spain, I met a lot of people. I stayed with a host family and I liked them a lot. There are four people in my host family:
                    Mayte and Chuchi, the mother and the father, and Sergio and Raul, the two kids. They are very nice and they included me in their day to day
                    activities, as well as their excursions. Also, I spent some time with Mayte and Chuchi's friends, and Sergio's friends. I got a lot of practice
                    speaking with Spaniards in this way. 
                </p>
                <p>
                    Another group of people that I met during this experience were my classmates, the students of Utah State University. I have had a couple classes 
                    with some of them at USU, but I never talked to them much outside of the classroom. I think that this experience offered me an opportunity to get to 
                    know them better, and meet those that I have not had class with. I feel like after this experience, I know them all much better. We did a lot of activities
                    outside of class, including a trip to Barcelona, a hike to the top of Mount Cantabria, and Karaoke nights.  
                </p>
                <p>
                    Finally, the professors at the University of La Rioja were a lot of fun. I felt like they really made their subjects come to life and were passionate 
                    about what they were teaching. The classes were definately challenging but they were full of so much interesting content and it was a really good 
                    environment to be in with my classmates from USU. 
                </p>
            </div>
            <div v-else>
                <p>
                 Mientras estaba en España, conocí a mucha gente. Me quedaba con una familia anfitriona y me caen bien. Hay cuatro miembros
                de mi familia anfitriona: Mayte y Chuchi, la madre y el padre, y Sergio y Raul, los dos chicos. Ellos son muy simpaticos
                y me incluydaban en sus activididades cotidianas, y también sus excursiones. También, pasé un rato con los amigos de Mayte y Chuchi, y también los amigos
                de Sergio. Tenía mucha practica hablando con muchos españolas por este manera.
                </p>
                <p>
                 Un otro grupo de personas que conocí durante de este experiencia fueron mis compañeros de mis clases, los estudiantes de Utah State University.
                Ha tenido algunas clases con algunas de ellos a USU, pero nunca hablé con ellos mucho fuera de la salon de clase. Creo que este experiencia
                me ofrezcó una oportunidad para conocer a ellos mejor, y conocer a los con quien no he tenido clases. Siento como después
                de este experiencia me conocía a ellos mucho mejor. Hicimos muchos actividades fuera de clase, incluyendo un viaje a Barcelona, una caminata a la encima de 
                Monte Cantabria, y noches de karaoke.
                </p>
                <p>
                    Finalmente, los profesores a la Universidad de La Rioja eran muy divertidos. Siento como hicieron que sus temas cobrará vida y eran muy pasionante 
                    sobre sus propios sujectos. Las clases definativamente eran desafiantes, pero también estaban llenos de tanto contenido interesante y estaba un 
                    ambiente muy bueno en que estar con mis compañeros de USU.
                </p>
            </div>
        </main>

        <footer>
            <p v-if="lang == 'english'">This website was designed and written by Nicholas Rodgers using
                <a href="https://vuejs.org/">Vue</a> and
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Photos and videos &copy; Nicholas Rodgers 2018
            </p>
            <p v-else>Está página web fue diseñado y escrito por Nicholas Rodgers utilizando
                <a href="https://vuejs.org/">Vue</a> y
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Las fotos y los vídeos &copy; Nicholas Rodgers 2018
            </p>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            activeIndex: 'people',
            lang: "english"
        },
        methods: {
            goToPage: function (index) {
                if (index) {
                    window.location.href = index + '.html' + '?lang=' + this.lang;
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('lang')) {
                    this.lang = urlParams.get('lang');
                }
            })
        }
    })
</script>

</html>