<!Doctype <!DOCTYPE html>
<html>

<head>
    <title>Mi tiempo en España</title>
    <meta charset="utf-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="lang">
                <el-switch style="display: block" v-model="lang" inactive-color="#007291" active-color="#f9c13e" inactive-text="English"
                    active-text="Español" inactive-value="english" active-value="spanish">
                </el-switch>
            </div>
            <div id="homeBtn">
                <a href="">
                    <h1 v-if="lang == 'english'">My Time in España</h1>
                    <h1 v-else>Mi Tiempo en España</h1>
                </a>
            </div>
            <p v-if="lang == 'english'">Some of my favorite experiences from studying abroad in Logroño, Spain, and some of what I learned while there.</p>
            <p v-else>Algunas de mis experiencias favoritas de estudiar en el extranjero en Logroño, España, y un poco de lo que aprendí
                allí.</p>
        </header>
        <el-menu :default-active="activeIndex" class="navMenu" mode="horizontal" @select="goToPage" background-color="#f2624f" text-color="#f9f2db"
            active-text-color="#f9c13e">
            <template v-if="lang == 'english'">
                <el-menu-item index="index">Home</el-menu-item>
                <el-menu-item index="people">People</el-menu-item>
                <el-menu-item index="places">Places</el-menu-item>
                <el-menu-item index="food">Food</el-menu-item>
                <el-menu-item index="adventure">Adventure</el-menu-item>
                <el-menu-item index="video">Video</el-menu-item>
            </template>
            <template v-else>
                <el-menu-item index="index">Inicio</el-menu-item>
                <el-menu-item index="people">Las Personas</el-menu-item>
                <el-menu-item index="places">Los Lugares</el-menu-item>
                <el-menu-item index="food">La Comida</el-menu-item>
                <el-menu-item index="adventure">La Aventura</el-menu-item>
                <el-menu-item index="video">Mi Vídeo</el-menu-item>
            </template>
        </el-menu>

        <main>
            <h1 v-if="lang == 'english'" v-on:click="goToPage('people')">Video</h1>
            <h1 v-else v-on:click="goToPage('people')">Mi Vídeo</h1>
            <div>
                <iframe style="margin:auto; display: block;" width="640" height="380" src="https://www.youtube.com/embed/3Ms0mXI4OOE" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
            
            <div v-if="lang == 'english'">
               <p>
                   During the adventures on my trip, I took my GoPro and recorded videos of my experiences. I have a lot more than what is on the above video, but 
                   I feel like this video shows a bit of all of the most important and memorable experiences. 
               </p>
            </div>
            <div v-else>
                <p>
                    Durante las aventuras en mi viaje, tomé mi GoPro y recordé vídeos de mis experiencias. Tengo mucho más que lo está en el vídeo de arriba, pero
                    siento que este vídeo muestra un poco de todos los experiencias más importantes y memorables. 
                </p>
            </div>

        </main>
        
        <footer>
            <p v-if="lang == 'english'">This website was designed and written by Nicholas Rodgers using
                <a href="https://vuejs.org/">Vue</a> and
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Photos (Not including stock photos) and videos &copy; Nicholas Rodgers 2018
            </p>
            <p v-else>Está página web fue diseñado y escrito por Nicholas Rodgers utilizando
                <a href="https://vuejs.org/">Vue</a> y
                <a href="http://element.eleme.io/#/en-US">Element-UI</a>
                <br>Las fotos (a menos de las fotos de archivos) y los vídeos &copy; Nicholas Rodgers 2018
            </p>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            activeIndex: 'video',
            lang: "english"
        },
        methods: {
            goToPage: function (index) {
                if (index) {
                    window.location.href = index + '.html' + '?lang=' + this.lang;
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('lang')) {
                    this.lang = urlParams.get('lang');
                }
            })
        }
    })
</script>

</html>